<%- include("partials/header") %>
<hr />
<h5>Classes</h5>
<ul class="list-group">
    <% links.forEach(function(link) {%>
        <li class="list-group-item">
            <a href="/<%=link.link %>"><%=link.name || link.link %></a>
            <br />
            <%=link.description %>
        </li>
    <% }) %>
</ul>
<%- include("partials/footer") %>